form {
  min-width: 100%; /* Largura máxima do formulário */
  margin: 2rem auto; /* Centraliza o formulário na página */
  padding: 2rem;
  border: 1px solid #dee2e6; /* Borda suave */
  border-radius: 0.5rem; /* Arredonda as bordas */
  background-color: #f8f9fa; /* Fundo claro */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  box-sizing: border-box;
}


